<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="https://d2pgf1t6llmies.cloudfront.net">
    <link rel="dns-prefetch" href="https://image.tmdb.org">
    <link rel="dns-prefetch" href="https://api.themoviedb.org">
    \{{{helmetTitle}}}
    \{{{helmetMeta}}}
    <meta charSet="utf-8" />
    <meta name="theme-color" content="#151515" />
    <meta name="msapplication-navbutton-color" content="#151515">
    <meta name="apple-mobile-web-app-status-bar-style" content="#151515">
    <link rel="manifest" href="/assets/app_manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Nunito:400,700,800,900" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700,800,900" /></noscript>
    {{#each htmlWebpackPlugin.files.css}}
    <link rel=stylesheet href={{this}} crossorigin=anonymous />
    {{/each}}
  </head>
  <body>
    <div id="app">\{{{html}}}</div>
    {{#each htmlWebpackPlugin.files.js}}
    <script src={{this}} defer=defer crossorigin=anonymous></script>
    {{/each}}
    <script>window.init = \{{{init}}}</script>
  </body>
</html>